/* General Styles */
html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Space Mono', monospace;/*incl backup fonts*/
    /* font-family: 'Montserrat', sans-serif; incl backup fonts */
}

* {
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BioRhyme', serif;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */
header {
    background-color: #16302B;
    color: #ffffff;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .title {
    /* font-size: 2.5rem; */
    /* color: red; */
    /* text-shadow: .5px .5px #DBF9F0; */
    /* font-weight: bold; */
}

header div {
    width: 21%;
}

header div.login {
    text-align: right;
}

header nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

header a {
    color: #ffffff;
}

header a:hover{ /*all the classy bits here*/

}
/* Nav */ /*For the love of nav bars everywhere, please make me purdy. oh please, oh please, oh please, mister web developer */

/* .container */

.container {
    width: 80%;
    margin: 0 auto 2% auto;
}

/* Hero section */

.hero {
    background-color: #DBF9F0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 6% 2%;
}

.hero h1 {
    font-size: 10rem;
    font-weight: bold;
}

.hero h2 {
    font-size: 3rem;
    padding: 2%;
}

/* Main */

.main {
    display: flex;
    justify-content: space-evenly;
}

.main div {
    /* text-align: center; */
    width: 30%;
    margin-top: 2%;
}
.main img {
    width: 100%;
    /* margin: 0 auto; */
}
.main p {
    /* text-align: left; */
}


/* Footer */

footer {
    background-color: #16302B;
    color: #ffffff;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer a {
    color: #ffffff;
}

/* Marketing ===============================*/

.marketing .hero {
    padding: 2%;
}

.marketing .hero h1 {
    font-size: 3rem;
    padding: 2%;
}

.marketing .hero h2 {
    font-size: 10rem;
    font-weight: bold;
}

.marketing .main {
    flex-direction: column;
}

.marketing .main div {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.marketing .main div.alternate { /*Reverse this row: image last.*/
    flex-direction: row-reverse;
}
.marketing .main img {
    width: 25%;
}

.marketing .main h2 {
    width: 55%;
    margin: 0 1%;
}
/* About ====================================*/

.about .hero {
    padding: 2%;
}

.about .hero h1 {
    width: 40%;
    font-size: 3rem;
    padding: 2%;
}

.about .hero h2 {
    margin: 0;
    padding: 0 auto;
    font-size: 10rem;
    font-weight: bold;
}

.about .main {
    flex-direction: column;
}

.about .main div {
    width: 100%;
}

.about .main img {
    width: 30%;
}


/* ======================================
CSS Breakpoints
=========================================*/

/* for extra wide desktops ==============*/
@media (min-width: 1800px) {

}

/* for tablets ==========================*/
@media (max-width: 1200px) {
/* header */
    header div {
        width: 30%;
    }
/* Container */
    .container {
        width: 90%;
    }
/* Nav */
    .hideable {
        display: none;
    }
/* Hero */
    .hero {
        flex-direction: column;
    }
    .hero h1 {/*changed*/
        font-size: 6rem;
        /* font-weight: bold; */
        margin: 0 auto 0 0;
    }
    .hero h2 {/*changed*/
        font-size: 2.5rem;
        /* padding: 2%; */
        margin: 0 0 0 auto;
    }
    .marketing .hero h1 {
        font-size: 2.5rem;
        /* padding: 2%; */
    }
    .marketing .hero h2 {
        font-size: 6rem;
        /* font-weight: bold; */
    }
    .about .hero h1 { /*changed*/
        width: 96%;
        font-size: 2rem;
        /* padding: 2%; */
    }
    .about .hero h2 {
        /* margin: 0; */
        /* padding: 0 auto; */
        font-size: 5rem;
        /* font-weight: bold; */
        margin: 0 0 0 auto;
    }
}

/* For phones ===========================*/
@media (max-width: 600px) {

}